.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    background-color: #9FE2BF;
}

.closet-nav {
    display: flex;
    font-size: 2rem;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}
.closet-nav li{
}

.closet-nav li:hover {
    background-color: #9FE2BF;
}

.closet-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.outfit-draft .list {
    display: flex;
}

.item-card{
    margin: 20px;
    
}
.item {
    background-color: #9FE2BF;
    padding: 20px;
    border-radius: 20px;
}

.remove {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}