.closet-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;

}
.closet-page i{
    font-size: 100px;
}


.closet-button {
    background-color: seagreen;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 30px;
    margin: 40px;
}

.closet-button a {
    text-decoration: none;
    font-size: 2rem;


}

/* .tab-button {
    font-size: 50px;
    display: flex;
    justify-content: center;
} */
