.nav {
    background-color: seagreen;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav .logo img {
    width: 200px;
    margin: 50px;
}

.nav .link {
    list-style: none;
    font-size: 2rem;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav .link:hover{
    background-color:green;
}